$green: #12e177;
$orange: #ffc72a;
$blue: #4c43d4;

body {
  font-family: 'Roboto', sans-serif;
  background: $blue;
  padding: 0;
  margin: 0;
}
.App{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
button {
 background: none;
 border: none; 
 outline: none;
 &:hover{
   cursor: pointer;
 }
}

.board {
  width: 250px;
    .board-row {
      display: flex;
      flex-direction: row;
      border-bottom: 2px solid #000;
   
      &:last-child {
        border-bottom: none;
      }
      .square {
        width: 80px;
        height: 80px;
        font-size: 2.5rem;
        border-right: 2px solid #000;
        padding: 0;
        overflow: hidden;
        transition: all 0.2s;
        &:last-child {
          border-right: none;
        }
      }
    }
  }