
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Oswald:wght@200&display=swap');
.header{
  color: azure;
}
body{
  background-image: url('/src/gradienta-ix_kUDzCczo-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  margin-top: 50px;
  background-color: rgba(158, 190, 190,0.3);
  font-family: 'Oswald', sans-serif;
}

.gold{
  color: gold;
}
.green{
  color: green;
}